In [4]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)
source('cleanup.R')

Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'cleanup.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

# Name: David-Benjamin Dy 
## Student ID: 21701586 
## Class: DSCI 100 006, Group 18

### Question 1: Data Description
**players.csv** has the dimensions 196 x 7, with data describing all players that have been on the server, including their name, age, gender, hours played, experience *(on a ranking of Beginner, Amateur, Regular, Veteran, or Pro)*, whether or not they are subscribed, and the email they made their account with, hashed for the sake of privacy.

**sessions.csv** has the dimensions 1535 x 7, and describes who has been online based on their email, showing what time they logged in and what time they logged out. The data describes the time in 2 different ways; a human-legible method with the data and time, and a E^12 format, which is more easily read by computers.

### Question 2: Questions
Our project will attempt to determine when players of a specific demographic are more likely to be online. That is to say, can the start time and end time predict a player's skill level?

### Question 3: Exploratory Data Analysis and Visualization
1) Demonstrate that the dataset can be loaded into R.
2) Do the minimum necessary wrangling to turn your data into a tidy format. Do not do any additional wrangling here; that will happen later during the group project phase.
3) Compute the mean value for each quantitative variable in the players.csv data set. Report the mean values in a table format.
4) Make a few exploratory visualizations of the data to help you understand it.
    + Use our visualization best practices to make high-quality plots (make sure to include labels, titles, units of measurement, etc)
    + Explain any insights you gain from these plots that are relevant to address your question

In [5]:
player <- read_csv("file/players.csv")
player

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    experience subscribe
1   Pro         TRUE
2   Veteran     TRUE
3   Veteran    FALSE
⋮   ⋮          ⋮
194 Amateur    FALSE
195 Amateur    FALSE
196 Pro         TRUE
    hashedEmail
1   f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
2   f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9
3   b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28
⋮   ⋮
194 d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db299bd4fedb06a46ad5bb
195 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
196 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11
    played_hours name      gender            Age
1   30.3         Morgan    Male               9
2    3.8         Christian Male              17
3    0.0         Blake     Male              17
⋮   ⋮            ⋮         ⋮                 ⋮
194 0.0          Dylan     Prefer not to say 17
195 2.3          Harlow    Male              17
196 0.2          Ahmed     Other             NA

In [6]:
mean <- player |>
    select(played_hours, Age) |>
    map_dfr(mean, na.rm = TRUE)
mean

  played_hours Age
1 5.845918     20.52062